<div class='skills'>
    <app-separator></app-separator>
    <label class='section-title'>Skills</label>
    <div class='skills-container'>       
        <div class='skills-section'>        
            <label class='skills-section-title'>{{ type1 }}</label>
            <div class='skills-list'>               
                <app-skills-card-front-end></app-skills-card-front-end>
            </div>
        </div>        
        <div class='skills-section'>
            <label class='skills-section-title'>{{ type2 }}</label>
            <div class='skills-list'>               
                <app-skills-card-back-end></app-skills-card-back-end>
            </div>
        </div>        
        <div class='skills-section'>
            <label class='skills-section-title'>{{ type3 }}</label>
            <div class='skills-list'>               
                <app-skills-card-others></app-skills-card-others>
            </div>
        </div>        
    </div>
</div>