<div class='header'>
  <div class='logo'>Personal Portfolio</div>
  <div class='menu'>
    <div class='web-menu'>
      <div class='web'>
        <div class='web-option'>
          <a href='#project'>
          <img src="../../../assets/pics/ProjectIcon.png" class="icon">&nbsp; Project
          </a>
        </div>
        <div class='web-option'>
          <a href='#skills'>
          <img src="../../../assets/pics/Project.png" class="icon">&nbsp; Skills
        </a>
        </div>
        <div class='web-option'>
          <a href='#contact'>
          <img src="../../../assets/pics/Contact.png" class="icon">&nbsp; Contact
          </a>
        </div>
      </div>

    </div>
  </div>
</div>