<div class='skill-card'>
    <div class='skill-icon'>
        <i class="devicon-github-original colored"></i>
    </div>
    <label class='skill-name'>{{ name1 }}&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-gitlab-plain colored"></i>
    </div>
    <label class='skill-name'>{{ name2 }}&nbsp;&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-docker-plain colored"></i>
    </div>
    <label class='skill-name'>{{ name3 }}&nbsp;&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-dotnetcore-plain"></i>
    </div>
    <label class='skill-name'>{{ name4 }}&nbsp;&nbsp;</label>
</div>