<div class='project-card'>
    <div class='project-info'>
        <label class='project-title'>{{ project_title1 }}</label>
        <div class='project-links'>
            <a class='project-link' href='https://github.com/15aniruddh/BloodBankManagementSystem' >
                <div class='link-button'>
                    <img src='../../../../../assets/pics/GitLab.png' class='social-icon' alt='GitHub' />&nbsp;GitLab
                </div>
            </a>            
            <a class='project-link' href='https://gitlab.com/15aniruddh/blood-bank-management-system' >
                <div class='link-button'>
                    <img src='../../../../../assets/pics/GitHub.png' class='social-icon' alt='GitHub' />&nbsp;GitHub
                </div>
            </a>
        </div>
        <p>{{ project_about1 }}</p>
        <div class='project-tags'>        
            <label class='tag'>{{ tag1_1 }}</label>
            <label class='tag'>{{ tag1_2 }}</label>
            <label class='tag'>{{ tag1_3 }}</label>
        </div>
    </div>
    <img src='../../../../../assets/pics/BloodBankManagementSystem.png' class='project-photo' alt='projectImg' />
</div>
<div class='project-card'>
    <div class='project-info'>
        <label class='project-title'>{{ project_title2 }}</label>
        <div class='project-links'>
            <a class='project-link' href='https://github.com/15aniruddh/LifeCare-Portal' >
                <div class='link-button'>
                    <img src='../../../../../assets/pics/GitLab.png' class='social-icon' alt='GitHub' />&nbsp;GitLab
                </div>
            </a>            
            <a class='project-link' href='https://gitlab.com/15aniruddh/lifecare-portal/-/tree/master' >
                <div class='link-button'>
                    <img src='../../../../../assets/pics/GitHub.png' class='social-icon' alt='GitHub' />&nbsp;GitHub
                </div>
            </a>
        </div>
        <p>{{ project_about2 }}</p>
        <div class='project-tags'>        
            <label class='tag'>{{ tag2_1 }}</label>
            <label class='tag'>{{ tag2_2 }}</label>
            <label class='tag'>{{ tag2_3 }}</label>
            <label class='tag'>{{ tag2_4 }}</label>
            <label class='tag'>{{ tag2_5 }}</label>
            <label class='tag'>{{ tag2_6 }}</label>
            <label class='tag'>{{ tag2_7 }}</label>
        </div>
    </div>
    <img src='../../../../../assets/pics/LifeCare-Portal.png' class='project-photo' alt='projectImg' />
</div>
