<div class='social-contact'>
    <a href="https://github.com/15aniruddh?tab=repositories">
        <div class='social-icon-div'>
            <img src='../../../../assets/pics/GitHub.png' class='social-icon' alt='GitHub' />
        </div>
    </a>
    <a href="https://www.linkedin.com/in/15aniruddh/">
        <div class='social-icon-div'>
            <img src='../../../../assets/pics/Linkedin.png' class='social-icon' alt='Linkedin' />
        </div>
    </a>
    <a href="https://gitlab.com/users/15aniruddh/projects">
        <div class='social-icon-div'>
            <img src='../../../../assets/pics/GitLab.png' class='social-icon' alt='GitLab' />
        </div>
    </a>
    <a href="https://www.facebook.com/smarty.aniruddh.007">
        <div class='social-icon-div'>
            <img src='../../../../assets/pics/Facebook.png' class='social-icon' alt='Facebook' />
        </div>
    </a>
    <a href="https://www.instagram.com/15aniruddh/">
        <div class='social-icon-div'>
            <img src='../../../../assets/pics/Instagram.png' class='social-icon' alt='Instagram' />
        </div>
    </a>
</div>