<div class='contact'>
    <app-separator></app-separator>
    <label class='section-title'>Contact</label>
    <div class='contact-container'>
        <div class='contact-left'>
            <p>Want to get in touch? Contact me on any of the Platform</p>
            <app-social-contact></app-social-contact>
        </div>
        <div class='download'>
            <a download href='../../../../assets/pics/Resume.pdf'>
                &nbsp;Download Resume
            </a>
        </div>
    </div>
</div>