<div class='skill-card'>
    <div class='skill-icon'>
        <i class="devicon-nodejs-plain colored"></i>
    </div>
    <label class='skill-name'>{{ name1 }}&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-java-plain colored"></i> 
    </div>
    <label class='skill-name'>{{ name2 }}&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-mysql-plain colored"></i>
    </div>
    <label class='skill-name'>{{ name3 }}&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-spring-plain colored"></i>
    </div>
    <label class='skill-name'>{{ name4 }}&nbsp;</label>

    <div class='skill-icon'>
        <i class="devicon-cplusplus-plain colored"></i>
    </div>
    <label class='skill-name'>{{ name5 }}&nbsp;</label>
</div>